/* Recommended CSS reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
nav {
  float: right;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
}
#myWorks {
  border-bottom: 2px solid #3081d0;
}
#myWorks a {
  color: #3081d0;
}
.effect {
  font: bold 2em Helvetica, Arial, sans-serif;
  padding: 20px;
  position: relative;
  text-decoration: none;
  color: #3081d0;
}
.effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3081d0;
  transition: width 0.3s ease, left 0.3s ease;
}
.effect:hover::after {
  width: 100%;
  left: 0;
}

a {
  text-decoration: none;
  color: black;
}
.container {
  text-align: center;
  width: auto;
}
img {
  max-width: 100%;
  height: auto;
}
article {
  display: flex;
  flex-direction: column;
  width: 401px;
  height: 550px;
  padding-top: 1rem;
  border-radius: 30px;
  align-items: center;
  img {
    padding: 1rem 0;
    display: flex;
    width: 60%;
    justify-content: center;
    cursor: pointer;
  }
}
body {
  font-family: "Roboto", sans-serif;

  color: #af1740;
  padding-top: 2 rem;

  justify-content: center;
  background-color: #686d76;
}

/*Reflection*/

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-img-tag {
  display: flex;
  justify-content: center;
}
.image-tag {
  padding-right: 0.5rem;
  text-align: center;
}
main {
  max-width: 1100px;
  font: normal 1.5rem Verdana;
  /* display: flex; */
}

figcaption {
  text-align: center;
  padding: 1rem;
}
.reflection {
  background-color: #686d76;
  text-align: center;
  padding: 1rem;
  font: bold 1rem Verdana;
  border-radius: 20px;
}
.big-div-reflection {
  display: flex;
}
.div-reflection {
  width: 49%;
  h3 {
    padding: 1rem;
  }
  .p-reflection {
    padding-left: 2rem;
    color: #000000;
  }
}
h1 {
  font: bold 3em "Lucida Console", sans-serif;
  padding-top: 22px;
  text-align: center;
}
h2 {
  padding: 1rem 0;
  text-align: center;
}
h3 {
  padding: 1rem 0;
  text-align: center;
  color: #000000;
}
h4 {
  text-align: center;
  padding: 3rem 0;
  border-bottom: solid 0.3ch #000000;
  font: bold 2em Verdana;
  color: #af1740;
}
/*Project highlight*/

/* --- */

@media screen and (max-width: 800px) {
  .row-1 {
    display: flex;
    flex-wrap: wrap;
  }

  .row-2 {
    flex-wrap: wrap;
  }

  .big-img-tag {
    flex-wrap: wrap;
  }

  main {
    font: normal 1.25rem Verdana;
  }
}

@media screen and (max-width: 480px) {
  main {
    font: normal 0.75rem Verdana;
  }
}
